In [1]:
import pandas as pd
import numpy as np

In [2]:
start_date = '2021-01-01'
end_date = '2021-12-31'
ramp_days = 90
amount = 100_000

In [3]:
idx = pd.date_range(start_date, end_date)

In [8]:
idx

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-12-22', '2021-12-23', '2021-12-24', '2021-12-25',
               '2021-12-26', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [4]:
ramp_linspace = np.linspace(start=0.01, stop=1, num=ramp_days)

In [9]:
ramp_linspace

array([0.01      , 0.0211236 , 0.03224719, 0.04337079, 0.05449438,
       0.06561798, 0.07674157, 0.08786517, 0.09898876, 0.11011236,
       0.12123596, 0.13235955, 0.14348315, 0.15460674, 0.16573034,
       0.17685393, 0.18797753, 0.19910112, 0.21022472, 0.22134831,
       0.23247191, 0.24359551, 0.2547191 , 0.2658427 , 0.27696629,
       0.28808989, 0.29921348, 0.31033708, 0.32146067, 0.33258427,
       0.34370787, 0.35483146, 0.36595506, 0.37707865, 0.38820225,
       0.39932584, 0.41044944, 0.42157303, 0.43269663, 0.44382022,
       0.45494382, 0.46606742, 0.47719101, 0.48831461, 0.4994382 ,
       0.5105618 , 0.52168539, 0.53280899, 0.54393258, 0.55505618,
       0.56617978, 0.57730337, 0.58842697, 0.59955056, 0.61067416,
       0.62179775, 0.63292135, 0.64404494, 0.65516854, 0.66629213,
       0.67741573, 0.68853933, 0.69966292, 0.71078652, 0.72191011,
       0.73303371, 0.7441573 , 0.7552809 , 0.76640449, 0.77752809,
       0.78865169, 0.79977528, 0.81089888, 0.82202247, 0.83314607,
       0.84426966, 0.85539326, 0.86651685, 0.87764045, 0.88876404,
       0.89988764, 0.91101124, 0.92213483, 0.93325843, 0.94438202,
       0.95550562, 0.96662921, 0.97775281, 0.9888764 , 1.        ])

In [5]:
ramp_array = np.append(ramp_linspace, np.ones(len(idx) - ramp_days))

In [10]:
ramp_array

array([0.01      , 0.0211236 , 0.03224719, 0.04337079, 0.05449438,
       0.06561798, 0.07674157, 0.08786517, 0.09898876, 0.11011236,
       0.12123596, 0.13235955, 0.14348315, 0.15460674, 0.16573034,
       0.17685393, 0.18797753, 0.19910112, 0.21022472, 0.22134831,
       0.23247191, 0.24359551, 0.2547191 , 0.2658427 , 0.27696629,
       0.28808989, 0.29921348, 0.31033708, 0.32146067, 0.33258427,
       0.34370787, 0.35483146, 0.36595506, 0.37707865, 0.38820225,
       0.39932584, 0.41044944, 0.42157303, 0.43269663, 0.44382022,
       0.45494382, 0.46606742, 0.47719101, 0.48831461, 0.4994382 ,
       0.5105618 , 0.52168539, 0.53280899, 0.54393258, 0.55505618,
       0.56617978, 0.57730337, 0.58842697, 0.59955056, 0.61067416,
       0.62179775, 0.63292135, 0.64404494, 0.65516854, 0.66629213,
       0.67741573, 0.68853933, 0.69966292, 0.71078652, 0.72191011,
       0.73303371, 0.7441573 , 0.7552809 , 0.76640449, 0.77752809,
       0.78865169, 0.79977528, 0.81089888, 0.82202247, 0.83314607,
       0.84426966, 0.85539326, 0.86651685, 0.87764045, 0.88876404,
       0.89988764, 0.91101124, 0.92213483, 0.93325843, 0.94438202,
       0.95550562, 0.96662921, 0.97775281, 0.9888764 , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ,
       1.        , 1.        , 1.        , 1.        , 1.        ])

In [11]:
amount_per_day = amount / len(idx)
amount_per_day

273.972602739726

In [13]:
consumption_forecast = amount_per_day * ramp_array

In [16]:
df = pd.DataFrame({'Amount' : consumption_forecast, 'Customer': 'ACME Inc.', 'ForecastType': 'Upside'}, index=idx)

In [17]:
df

                Amount   Customer ForecastType
2021-01-01    2.739726  ACME Inc.       Upside
2021-01-02    5.787286  ACME Inc.       Upside
2021-01-03    8.834847  ACME Inc.       Upside
2021-01-04   11.882407  ACME Inc.       Upside
2021-01-05   14.929968  ACME Inc.       Upside
...                ...        ...          ...
2021-12-27  273.972603  ACME Inc.       Upside
2021-12-28  273.972603  ACME Inc.       Upside
2021-12-29  273.972603  ACME Inc.       Upside
2021-12-30  273.972603  ACME Inc.       Upside
2021-12-31  273.972603  ACME Inc.       Upside

[365 rows x 3 columns]

In [18]:
df.index.name = 'Data'

In [19]:
df

                Amount   Customer ForecastType
Data
2021-01-01    2.739726  ACME Inc.       Upside
2021-01-02    5.787286  ACME Inc.       Upside
2021-01-03    8.834847  ACME Inc.       Upside
2021-01-04   11.882407  ACME Inc.       Upside
2021-01-05   14.929968  ACME Inc.       Upside
...                ...        ...          ...
2021-12-27  273.972603  ACME Inc.       Upside
2021-12-28  273.972603  ACME Inc.       Upside
2021-12-29  273.972603  ACME Inc.       Upside
2021-12-30  273.972603  ACME Inc.       Upside
2021-12-31  273.972603  ACME Inc.       Upside

[365 rows x 3 columns]

In [20]:
np.linspace(start=0.1, stop=1.0, num=0)

array([], dtype=float64)