In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import date, timedelta

%matplotlib inline

In [2]:
_dtype_dict = {
    "Subs. Service Line No.": str,
    "Compute Type": str,
    "Active": str,
    "Usage Line Number": float,
    # "Metered service date": np.datetime64,
    "Sub Account": float,
    "Computed Quantity": float,
    "Existing Entitled Qty": float,
    "Usage Quantity": float,
    "UOM": str,
    "Product": str,
    "Parent Product": str,
    "Net Unit Price": float,
    "SPM Document Number": str,
    "Line Net Amount": float,
    "Bill To Plan Number": float,
    "Consumed Quantity": float,
    "Overage": str,
    "Compute Source": float,
    "Status": str,
    "Available Amt After Computing": float,
    "Is Credit Memo?": str,
    "Spm Partner Credit Amt": float,
    "Bill to Customer": str,
    "Trxn Extension ID": float,
    "Line Net Amount Increased Precision": float,
    "UCM Payment Credit Amt": float,
}

In [3]:
cols_list = ["Computed Quantity", "Metered service date", "UOM", "Product", "Net Unit Price", "Line Net Amount", "Bill to Customer"]

In [13]:
with open("./BBTS.csv") as csvfile:
    df = pd.read_csv(csvfile, parse_dates=["Metered service date"], dtype=_dtype_dict, usecols=cols_list)[:-1]
    df.rename(columns={"Metered service date": "Data",
                       "Computed Quantity": "Quantidade",
                       "UOM": "Unidade de Medida",
                       "Product": "RAW_PRODUCT",
                       "Net Unit Price": "Preco Unitario BRL",
                       "Line Net Amount":"Consumo BRL",
                       "Bill to Customer": "Cliente"},
              inplace=True)
    df.set_index("Data", inplace=True)
    df["Consumo USD"] = df["Consumo BRL"] / 5.27

### Separa o partnumber da coluna Produto

In [18]:
df["RAW_PRODUCT"].str.split(pat="-", n = 0, expand=True)

,0,1,2,3
Data,,,,
2021-07-31,B90572,Oracle Cloud Infrastructure,Database Cloud Service,Enterprise Edition Extreme Performance - OCPU...
2021-08-01,B90572,Oracle Cloud Infrastructure,Database Cloud Service,Enterprise Edition Extreme Performance - OCPU...
2021-08-02,B90572,Oracle Cloud Infrastructure,Database Cloud Service,Enterprise Edition Extreme Performance - OCPU...
2021-07-31,B90572,Oracle Cloud Infrastructure,Database Cloud Service,Enterprise Edition Extreme Performance - OCPU...
2021-08-01,B90572,Oracle Cloud Infrastructure,Database Cloud Service,Enterprise Edition Extreme Performance - OCPU...
...,...,...,...,...
2021-08-05,B91962,Oracle Cloud Infrastructure,Block Volume Performance,Performance Units Per Gigabyte Per Month
2021-08-23,B91962,Oracle Cloud Infrastructure,Block Volume Performance,Performance Units Per Gigabyte Per Month
2021-08-09,B91962,Oracle Cloud Infrastructure,Block Volume Performance,Performance Units Per Gigabyte Per Month
2021-08-29,B91962,Oracle Cloud Infrastructure,Block Volume Performance,Performance Units Per Gigabyte Per Month
2021-08-26,B91962,Oracle Cloud Infrastructure,Block Volume Performance,Performance Units Per Gigabyte Per Month

In [ ]:
df

### Descobre os 5 maiores produtos consumidos

In [ ]:
# df.groupby("Produto")["Consumo BRL"].sum().sort_values(ascending=False)[:5]

### Lista dos produtos menos consumidos

In [ ]:
# outros_produtos = df.groupby("Produto")["Consumo BRL"].sum().sort_values(ascending=False)[5:]
# outros_produtos.index.to_list()

### Agrupa os demais produtos na categoria outr

In [ ]:
# df["Produto"] = df["Produto"].replace(outros_produtos.index.to_list(), "Outros")

In [ ]:
# df.groupby("Produto")["Consumo BRL"].sum().sort_values(ascending=False)

### Lista ordenada dos produtos mais consumidos

In [ ]:
 df.groupby("Produto")["Consumo BRL"].sum().sort_values(ascending=False).index.to_list()